# Use the official Python runtime as the base image
FROM {{RUN_IMAGE}}

# Set ARG variables
{{RUNTIME_ARG_VARS}}

# Set environment variables
{{RUNTIME_ENV_VARS}}

# Set the working directory in the container
WORKDIR {{WORKDIR}}

# Install system dependencies
{{RUNTIME_SYSTEM_DEPS}}

# Additional RUN commands
{{RUNTIME_ADDITIONAL_RUN_CMDS}}

# Copy requirements file
COPY requirements.txt .

# Install Python dependencies
RUN pip install --no-cache-dir -r requirements.txt

# Copy the rest of the application code
COPY . .

# Collect static files
RUN python manage.py collectstatic --noinput

# Expose the port the app runs on
EXPOSE {{PORT}}

# Set default workers count
ENV DCD_CPU=1

# Define the command to run the application with dynamic workers
CMD gunicorn --bind 0.0.0.0:{{PORT}} --workers ${DCD_CPU} --timeout 120 --keep-alive 5 --max-requests 1000 {{PYTHON_APP_ENTRY}}
