# Use the official Node.js runtime as the base image
FROM {{RUN_IMAGE}}

# Set ARG variables
{{RUNTIME_ARG_VARS}}

# Set environment variables
{{RUNTIME_ENV_VARS}}

# Set the working directory in the container
WORKDIR {{WORKDIR}}

# Install system dependencies
{{RUNTIME_SYSTEM_DEPS}}

# Additional RUN commands
{{RUNTIME_ADDITIONAL_RUN_CMDS}}

# Copy package files
COPY {{PACKAGE_FILES}} ./

# Install dependencies
RUN {{BUILD_INSTALL_CMD}}

# Copy the rest of the application code
COPY . .

# Expose the port the app runs on
EXPOSE {{PORT}}

# Define the command to run the application
CMD {{START_CMD}}
